<style>
    #editpage {
      padding: 5px 6px;
      background: #F67E40;
      color: #fff;
      display: inline;
      list-style-type: none;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
    }
    #editpage li{ display: inline; padding: 5px 5px 5px 5px; }  
</style>
{#  FIND OUT HOW TO MAKE THIS USE JAC PLUGIN ROUTES  #}
{% set editPageForm = '/pageadmin/edit' %}
{% set createPageForm = '/pageadmin/create' %}   
{% set sourcePageForm = '/pageadmin/source' %} 
{% if page.link == '/' %}
  {% set actionPagePath = "/" ~ page.slug %}
{% else %}
  {% set actionPagePath = uri.path %}
{% endif %}
{# Display Menu based on logged in status #}
{% if grav.user.username and grav.user.authenticated %}
<ul id="editpage">
  <li ><a  href="{{base_url_absolute}}{{sourcePageForm}}?p={{ actionPagePath }}">Page Source</a></li>
  <li ><a  href="{{base_url_absolute}}{{editPageForm}}?p={{ actionPagePath }}">Edit</a></li>
  <li ><a  href="{{base_url_absolute}}{{createPageForm}}?p={{ actionPagePath }}">Create</a></li>
</ul>
{% else %}
<ul id="editpage">
  <li ><a  href="{{base_url_absolute}}{{pagesourcePageForm}}?p={{ actionPagePath }}">Page Source</a></li>
</ul>
{% endif %}
